# Realizando consumo de dados do site via cep utilizando o Python.

In [2]:
#Importando as biliotecas necessárias
import requests
import json
import pandas as pd
import time

In [3]:
#Definindo a URL que será utilizada para o consumo
url = "https://viacep.com.br/ws/3711000/json/"

In [4]:
#Realizando chamada na API
response = None

try:
  response = requests.get(url)
except Exception as e:
  print(e)

In [5]:
#Exibindo o conteúdo da response

if response != None and response.status_code == 200:
  print(json.loads(response.text))

Agora que foi possível confirmar o funcionamento da API, será criada uma função capaz de realizar o consumo através de uma lista de CEPs.

In [6]:
#Definindo lista de CEPs
lista_ceps = ['37110000', '06385125', '12903834', '17057690']

In [7]:
#Criando função para realizar a consulta
def consulta_ceps(lista_ceps):

  lista = []
  ceps = lista_ceps
  for i in ceps:
    url = "https://viacep.com.br/ws/" + i + "/json/"

    try:
      response = requests.get(url)
      time.sleep(0.25)
    except Exception as e:
      print(e)

    if response != None and response.status_code == 200:
      lista.append(json.loads(response.text))
    
  return lista

In [8]:
#Realizando consumo e atribuindo em uma lista
lista = consulta_ceps(lista_ceps)

In [9]:
#Criando dataframe para leitura da lista
df = pd.DataFrame(lista)
df

,cep,logradouro,complemento,bairro,localidade,uf,ibge,gia,ddd,siafi,erro
0,37110-000,,,,Elói Mendes,MG,3123601,,35,4471,NaN
1,06385-125,Rua Sete de Setembro,,Parque Roseira,Carapicuíba,SP,3510609,2550,11,6313,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,true
3,17057-690,Rua Sete,,Parque Val de Palmas,Bauru,SP,3506003,2094,14,6219,NaN